<p style="color: green"><%= notice %></p>

<div id="flight-form">
  <%= render 'search_flight_form' %>
</div>


<% unless @flights.nil? %>
  <h2>Choose a flight</h2>
  <div id="flights">
    <% @flights.each do |flight| %>
      <%= render flight %>
    <% end %>
  </div>  
<% end %>

