<div id="flight-section">
  <div id="flight-form">
    <%= render 'search_flight_form' %>
  </div>
  
  
  <% unless @flights.nil? %>
    <h2>Choose a flight</h2>
    <div id="flights">
      <% @flights.each do |flight| %>
        <%= render flight %>
      <% end %>
    </div>
  <% end %>

  <% if flight_selected? %>
    <%= link_to 'Continue booking', new_booking_path(flight_id: params[:selected], passengers: params[:passengers]) %>
  <% end %>
</div>

