<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<div id="flight-form">
  <%= render 'search_flight_form' %>
</div>

<div id="flights">
  <% @flights.each do |flight| %>
    <%= render flight%>
    <hr>
  <% end %>
</div>
