<div id="flight-form">
  <%= render 'search_flight_form' %>
</div>


<% unless @flights.nil? %>
  <div id="flights">
    <% @flights.each do |flight| %>
      <%= render flight %>
    <% end %>
  </div>
<% end %>

  <% if flight_selected? %>
    <%= link_to new_booking_path(flight_id: params[:selected], passengers: params[:passengers]) do %>
      <div id="flight-booking">
        Continue booking
      </div>
    <% end %>
  <% end %>
