#flight-booking-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#flight-booking-info > div:first-child {
  font-size: 30px;
}

#flight-booking-info > div:nth-child(2) {
  margin-top: 4px;
  font-size: 18px;
}

#flight-booking-info > div:nth-child(3) {
  font-size: 18px;
}

#booking-fields {
  display: flex;
  justify-content: center;
  gap: 16px;
}

form#new_booking {
  margin: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.field > select {
  padding: 4px 2px 4px 6px;
  border: none;
  border-radius: 4px;
}

form#new_booking > input[type="submit"] {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
}
