#flight-booking-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#flight-booking-info > div:first-child {
  font-size: 30px;
}

#flight-booking-info > div:nth-child(2) {
  margin-top: 4px;
  font-size: 18px;
}

#flight-booking-info > div:nth-child(3) {
  font-size: 18px;
}

#booking-fields {
  display: flex;
  justify-content: center;
  gap: 16px;
}

form#new_booking {
  margin: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.field > select {
  padding: 4px 2px 4px 6px;
  border: none;
  border-radius: 4px;
}

form#new_booking > input[type="submit"] {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
}

#booking-show-title {
  font-size: 24px;
  text-align: center;
  margin: 16px;
}

#booking-show-section {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.booking-card {
  max-width: 360px;
  border: 1px solid grey;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  box-shadow: 2px 2px 5px grey;
  transition: 0.01s linear;
}

.booking-card:hover {
  transform: scale(1.01);
  box-shadow: 4px 4px 5px grey;
}

.booking-card-destination {
  font-size: 24px;
  align-self: center;
}

.booking-card-date {
  font-size: 20px;
  margin-bottom: 8px;
  align-self: center;
}

.booking-card-passengers {
  padding-left: 16px;
}
