#flight-section {
  padding: 60px;
}

#flights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flight {
  min-width: 320px;
  min-height: 160px;
  padding: 16px;
}

.flight > a {
  width: 100%;
  height: 100%;
}

.flight.selected {
  background-color: bisque;
}

#flight-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#flight-form > form {
  display: grid;
  gap: 6px;
}

#flight-form > form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
