header {
  display: grid;
  grid-template-columns: auto 120px 120px;
  grid-template-rows: 60px;
  justify-items: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

header > a:first-child {
  justify-self: baseline;
}

#header-logo {
  color: rgb(19, 31, 31);
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
}

#header-logo:visited {
  color: rgb(19, 31, 31);
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;

  color: rgb(19, 31, 31);
  background-color: white;
  border: none;
  font-size: 16px;
  text-decoration: none;
}

.header-button:hover {
  background-color: rgb(236, 236, 236);
}

.header-button:visited {
  color: rgb(19, 31, 31);
}
